* {
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 60px;
}

body {
    background:rgb(204, 209, 207);
    font-size: 18px;
}

#pies {
    background-color: green;
    width: 400px;

}

a {
    color:blue;
    font-size: 18px; !important
}

a:visited {
    columns: #000000;
}

a:hover {
    color: pink;
}

a:active {
    color: tomato;
}

#kot {
    font-size: 18px;
}

.motyl {
    font-size: 18px;
    font:message-box;
}

.alpaka {
    background-color: #ffffffa6;
    font-size: 18px;
}

main {
    background: pink;
    width: 100%;
    height: 100%;

/*Sposób1
    padding: 30px;
    padding-left: 10px*/

    padding: 30px 30px 30px 10px;

/*Sposób2
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 30px;*/


    border: 3px green solid;
    float: right;
}

main:hover {
    border: 3px blueviolet dotted;
}


aside {
    width: 400px;
    float: center;
}

.container {
    margin: 0 auto;
}

.clear {
    clear: both;

}

aside > section p:nth-child(1) {
color: red;
}

aside p {
    background: pink !important;
}

footer {
text-align: center;
}

img.responsive {
    max-width: 100%;
    height: auto;
}

div {
    width: 100%;
    height: 370px;
}

.lublin {
    width: 100%;
    background-image: url("https://podroze.smcloud.net/t/photos/t/142016/spacer-po-lublinie_1098104.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
}

.flexible-video-16-9 {
   position: relative;
   width: 100%;
   padding-top: 56.25%;
}

.flexible-video-16-9 > iframe {
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 370px;

}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class *="col-"] {
    float: left;
    padding: 15 px;
    border: 1px solid;
    text-align: center;
  }
.row {
    clear: both;
    font:message-box;
}

@media only screen and (max-width:500px){
    body {
    background-color: lightblue;
      }
    }

.header {
        text-align: center;
        background: #ffffffa6;
        font:message-box;
        }

.separator {
    height: 40px;
}

.col-3 {
    height:100px;
    text-align: center;
}

.lublin boczny{
    width: 100%;
    background-image: url("https://podroze.smcloud.net/t/photos/t/142016/spacer-po-lublinie_1098104.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid;
}